[Unit]
Description = LoadsheddingBot Python Script
After = network.target
 
[Service]
Type = simple
WorkingDirectory = /home/pi/LoadSchedderBot
ExecStart = python3 /home/pi/LoadSchedderBot/discord_bot.py
User = pi
Group = pi
Restart = always
RestartSec = 60

[Install]
WantedBy = multi-user.target